@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body{
  font-family: 'Poppins', sans-serif !important;
  background-color: #ffffff;
}


/* for hero slider  */

/* globals.css */
.swiper-pagination-bullet {
  background: #d1d5db;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #000;
  width: 18px;
  border-radius: 6px;
}


/* for hero slider  */
